@import "tailwindcss" prefix(mw);

@theme {
    --breakpoint-phone: 40rem;
    --breakpoint-tablet: 80rem;

    --color-mw-primary-dark: oklch(0.145 0 0);
    --color-mw-primary: oklch(0.269 0 0);
    --color-mw-secondary: oklch(0.371 0 0);
    --color-mw-primary-border: oklch(0.205 0 0);
    --color-mw-primary-hover: oklch(0.75 0.183 55.934);
    --color-mw-primary-active: oklch(0.837 0.128 66.29);
    --color-mw-primary-typography: oklch(0.985 0 0);
    --color-mw-secondary-typography: oklch(0.708 0 0);

    --scroll-bar-background-light: oklch(0.269 0 0);
    --scroll-bar-background: oklch(0.269 0 0);
    --scroll-bar-slider: oklch(0.145 0 0);
    --scroll-bar-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    --scroll-bar-width: 6px;
}
